<div class="title" id="as">
  <h3>PLASM.it - 2017</h3>
  <h1>Лого</h1>
  <h3>Евгений<strong>Ш В А Р Ц</strong></h3>
  <%= link_to 'Обо мне', pages_about_path %>
  <%= link_to 'Контакты', pages_contact_path %>
</div>
